<div class="container">
    <h1>{{titulo}}</h1>
    
    <button type="button" class="btn btn-success" [routerLink]="['/contactos/crear']">Nuevo Contacto</button>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre completo</th>
                <th scope="col">Parentesco</th>
                <th scope="col">Telefono</th>
                <th scope="col">userID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contacto of contactos">
                <th scope="row">{{contacto.id}}</th>
                <td> {{contacto.name}}</td>
                <td> {{contacto.relationship}}</td>
                <td> {{contacto.number}}</td>
                <td> {{contacto.userid}}</td>
            </tr>
        </tbody>
    </table>
</div>