<div class="container">

  <div class="card-body">
    <h2 class="card-title">{{ titulo }}</h2>
    <form>
      <div class="form-group">
        <label for="name">Nombre completo</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Ingrese Nombre" 
        [(ngModel)]="contacto.name">
        <!-- <small id="nameHelp" class="form-text text-muted">Ingrese el Nombre completo</small> -->
      </div>
      <div class="form-group">
        <label for="number">Número Telefónico</label>
        <input type="text" class="form-control" name="number" placeholder="Ingrese el número telefónico" 
        [(ngModel)]="contacto.number">
      </div>
      <div class="form-group">
        <label for="relationship">Parentesco</label>
        <input type="text" class="form-control" name="relationship" placeholder="Ingrese el parentesco"
        [(ngModel)]="contacto.relationship">
      </div>

      <div class="form-group">
        <label for="id">id</label>
        <input type="number" class="form-control" name="id" 
        [(ngModel)]="contacto.id">
      </div>
      <div class="form-group">
        <label for="userid">userid</label>
        <input type="number" class="form-control" name="userid" 
        [(ngModel)]="contacto.userid">
      </div>
      <button type="submit" class="btn btn-primary" role="button" (click)="createContacto();">Registrar Contacto</button>
    </form>
  </div>

</div>